.blogTitle{
  height: 100px;
  max-height: 150px;
  margin: 0;
  padding: 0;
  transition: background-color .7s ease-in-out 0s;
  background-color: grey;
  position: relative;

  &:focus{
    outline-style:none;
    box-shadow:none;
    border-color:transparent;
  }

  p{
    position:absolute;
    padding-left: 5%;
    width: 70%;
    color: white;
    font-size: 34px;
    @media screen and (min-width: 1200px){
      font-size: calc(34px + 0.08vw);
    }
    @media screen and (max-width:599px), screen and (max-height: 420px){
      font-size:20px;
    }

    &.summary{
      display:none;
    }
  }

  a{
    color: white;
    transition: text-shadow .4s ease-in-out 0s;
    &:hover{
      text-shadow: 1px 1px 5px black;
    }
  }
}

#microinteractions{
  &:hover{
    background-color: #b30000;
  }
  &:focus{
    background-color: green;
  }
}

#istherei{
  &:hover, &:focus{
    background-color: #8000ff;
  }
}
