%section#about.slide.mobile-table.full-height
  .mobile-table-cell
    .small-6.small-centered.columns
      .pl2.pr2
        %p.big-type.light.no-margin.black Hello!
        %br
        %p.big-type.light.no-margin.black My name is Dickson Lau and I'm a software developer from Boston.
