%section#cambrian.slide.mobil-table.bg-white.full-height
  .mobile-table-cell
    .col-center.col-6
      .pl2.pr2
        %p.big-type.light.black= "Before switching over to software development, I was a research engineer where I helped design, test, and construct a novel prototype wastewater treatment system which essentially converts wastewater into electricty (how cool is that?!)."
        %a.button{ href: "http://cambrianinnovation.com"}Cambrian Innovation
