%section#cambrian.slide.mobile-table.full-height
  .mobile-table-cell
    .col-center.col-8
      .pl2.pr2
        %p.big-type.light.black
          Before switching over to software development, I helped design, test, and construct a prototype which essentially converts wastewater into electricity.
          %a.white{ href: "http://cambrianinnovation.com", target: "_blank" }= "(how cool is that?!)"
