%section#cambrian.slide.mobile-table.bg-white.full-height
  .mobile-table-cell
    .pl2.pr2
      %p.big-type.light.black
        Before switching over to software development, I was a research engineer where I helped design, test, and construct a novel
        %a.black{ href: "http://cambrianinnovation.com", target: "_blank" }prototype wastewater treatement system
        which essentially converts wastewater into electricity. (how cool is that?!)
