%section#contact.slide.mobile-table.full-height
  .mobile-table-cell.center
    %a.button{ href: "https://github.com/tsdlau"}
      %span
        %i.fi-social-github
        github
    %br
    %br
    %a.button{ href: "https://linkedin.com/in/tsdlau"}
      %span
        %i.fi-social-linkedin
        linkedin
    %br
    %br
    %a.button{ href: "mailto:kr.d.tsl@gmail.com"}
      %span
        %i.fi-mail
        email
    %br
    %br
    %a.button{ href: "/resume.pdf"}
      %span
        %i.fi-results
        resume
