#contact
  .contactchild
    .text-black
      %p
        %a{ href: "https://github.com/tsdlau"}
          %span
            %i.fi-social-github
            github
      %p
        %a{ href: "https://linkedin.com/in/tsdlau"}
          %span
            %i.fi-social-linkedin
            linkedin
      %p
        %a{ href: "mailto:kr.d.tsl@gmail.com"}
          %span
            %i.fi-mail
            email
      %p
        %a{ href: "/resume.pdf"}
          %span
            %i.fi-results
            resume
