%section#lately.slide.mobile-table.full-height
  .mobile-table-cell
    .row
      .small-7.small-centered.columns
        .pl2.pr2
          %p.big-type.light
            I've just completed a
            %a.black{ href: "https://www.launchacademy.com", target: "_blank" } coding bootcamp
            and lately have been applying to jobs and wandering in libraries, coding on things that I like.
