%section#lately.slide.mobile-table.full-height
  .mobile-table-cell
    .col-center.col-8
      .pl2.pr2
        %p.big-type.light
          I've just completed a
          %a.black{ href: "https://www.launchacademy.com", target: "_blank" } coding bootcamp
          and lately have been wandering in libraries and coding on things that I like.
