%section#lately.slide.mobile-table.full-height
  .mobile-table-cell
    .pl2.pr2
      %p.big-type.light= "I've just completed a coding bootcamp and since hten have lately been wandering the libraries of Boston and Cambridge, coding on things that I like and applying for jobs (please hire me)."
      %a.button{ href: "https://www.launchacademy.com"}Launch Academy
