%section#lately.slide.mobile-table.full-height
  .mobile-table-cell
    .pl2.pr2
      %p.big-type.light
        I've just completed a
        %a.black{ href: "https://www.launchacademy.com", target: "_blank" } coding bootcamp
        and lately have been wandering inside the libraries of Boston and Cambridge, coding on things that I like, applying for jobs, looking at interesting meetups to attend.
