#misc
  .blurb
    .text-white
      %p
        Sometimes during my wanderings I take
        %a{href: "https://www.flickr.com/photos/mrsushiman/"}pictures
        of places and people.
        %br
        %br
        Other times I can be found visiting libraries or rock climbing.
        %br
        %br
        And in other other times I'll be stomping scrubs in
        %a{href: "https://playoverwatch.com/en-us/"}this universe.
