%section#misc.slide.mobile-table.bg-white.bg-center.full-height
  .mobile-table-cell
    .row
      .small-7.small-centered.columns
        .pl2.pr2
          %p.big-type.light.grey
            Sometimes during my wanderings I take
            %a.white{ href: "https://www.flickr.com/photos/mrsushiman/"} pictures
            of places and people.
          %p.big-type.light.grey
            Other times I might be rock climbing with friends or pub stomping scrubs in
            %a.white{ href: "https://playoverwatch.com/en-us/"} this universe
            (this game is seriously a lot of fun).
