%section#past.slide.mobile-table.full-height
  .mobile-table-cell
    .small-6.small-centered.columns
      .pl2.pr2
        %p.big-type.light.black
          Before switching over to software development, I was a research engineer constructing a prototype which essentially converts
          %a.white{ href: "http://cambrianinnovation.com" }wastewater into electricity.
          (how cool is that?!)
