#past
  .blurb
    .text-black
      %p
        Prior to Amalgam, I completed a
        %a{href: "https://www.launchacademy.com"} coding bootcamp.
        %br
        %br
        It was an amazing experience where I learned how to ride the
        %a{href: "https://en.wikipedia.org/wiki/Ruby_on_Rails"}Rails.
