%section#photography.slide.mobile-table.bg-white.bg-center.full-height
  .mobile-table-cell
    .col-center.col-6
      .pl2.pr2
        %p.big-type.light
          Sometimes during my wanderings I take 

        = "Sometimes during my wanderings I take #{link_to 'pictures', '/pictures'}. Other times I can be seen rock climbing with friends or pub stomping scrubs in #{link_to 'this universe', 'https://playoverwatch.com/en-us/'}"
