!!!
%html
  %head
    %title dickson lau

    %meta{ property: "name", content: "dickson lau" }
    %meta{ property: "description", content: "software developer. ex-athlete. dreamer. photographer." }
    %meta{ content: "width=device-width, initial-scale=1.0", name: "viewport" }

    %script{ src: "javascript/jquery-2.1.1.min.js" }
    %script{ src: "javascript/homesite.js" }

    %link{ rel: "stylesheet", href: "stylesheets/base.css"}
    %link{ rel: "stylesheet", href: "stylesheets/style.css"}
    %link{ rel: "stylesheet", href: "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"}

  %body
