#projects.hide-on-med-and-down
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "#flixChillModal"}flix // chill
      .text-black
        %p
          allowing people to connect with each other based on similar watched tv shows
      #flixChillLogo
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "#elevaderModal"}elevader
      .text-black
        %p
          a yelp-like app that critiques elevators of Boston.
      #elevaderLogo
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "#greatchowModal"}Great Chow
      .text-black
        %p
          a redesign for the Great Chow restaurants in Quincy and Abington
      #greatChowLogo

#projectsMobile.hide-on-med-and-up
  #flixChillLogo
  #elevaderLogo
  #greatChowLogo
