#projects.hide-on-med-and-down
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "http://flix-chill.herokuapp.com/"}flix // chill
          %br
          %a{href: "https://github.com/tsdlau/flix-chill", style: "font-size: 12px;"}github | flix-chill
      .text-black
        %p
          allowing people to connect with each other based on similar watched tv shows
      #flixChillLogo
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "http://elevader.herokuapp.com/"}elevader
          %br
          %a{href: "https://github.com/filipemir/elevader", style: "font-size: 12px;"}github | elevader
      .text-black
        %p
          a yelp-like app that critiques elevators of Boston.
      #elevaderLogo
  .projectchild
    .blurb
      .text-black
        %p
          %a{href: "http://greatchow.herokuapp.com/"}Great Chow
          %br
          %a{href: "https://github.com/tsdlau/greatchow", style: "font-size: 12px;"}github | elevader
      .text-black
        %p
          a redesign for the Great Chow restaurants in Quincy and Abington
      #greatChowLogo

#projectsMobile.hide-on-med-and-up
  #flixChillLogo
  #elevaderLogo
  #greatChowLogo
