%section#projects.slide.mobile-table.full-height
  .mobile-table-cell
    .row
      .small-6.small-centered.columns
        %p.big-type.light.white
          Some recent projects:
    %br
    .row
      .small-8.columns.small-offset-2
        %p.big-type.light.white.align-right.small-6.columns
          %a.black{ href: "http://flix-chill.herokuapp.com", target: "_blank"}flix-chill:
          allowing people to connect with each other based on similarly watched TV shows.
        %img#flix-chill-splash{ src: '../images/netflixchill.png'}
    %br
    %br
    .row
      .small-8.columns.small-offset-2
        %img#elevader-splash{ src: '../images/elevader.png'}
        %p.big-type.light.white.align-left.small-6.columns
          %a.black{ href: "http://elevader.herokuapp.com", target: "_blank"}elevader:
          a yelp-like app that allows users to submit review
    %br
    %br
    .row
      .small-6.small-centered.columns
        %a.button{ href: "https://github.com/tsdlau/flix-chill"}github/flix-chill
        %br
        %a.button{ href: "https://github.com/filipemir/elevader"}github/elevader
