%section#projects.slide.mobile-table.full-height
  .mobile-table-cell
    %br
    .row
      .small-7.columns.small-centered
        .row
          .small-6.columns
            %p.big-type.light.white.align-right
              %a.black{ href: "http://flix-chill.herokuapp.com", target: "_blank"}flix-chill:
              allowing people to connect with each other based on similarly watched TV shows.
              %br
              %a.button#ref{ href: "https://github.com/tsdlau/flix-chill"}github/flix-chill
          .small-1.columns.end.small-offset-1
            %img#flix-chill-splash{ src: '../images/netflixchill.png'}
    %br
    %br
    .row
      .small-7.columns.small-centered
        .row
          .small-2.columns.small-offset-1
            %img{ src: '../images/elevader.png'}
          .small-6.columns
            %p.big-type.light.white.align-left
              %a.black{ href: "http://elevader.herokuapp.com", target: "_blank"}elevader:
              a yelp-like app that allows users to submit reviews on elevators of Boston
              %br
              %a.button#ref{ href: "https://github.com/filipemir/elevader"}github/elevader
