%section#showcase.slide.mobile-table.bg-white.full-height
  .mobile-table-cell
    .col-center.col-6
      .pl2.pr2
        %p.big-type.light.black
          %a.black{ href: "http://flix-chill.herokuapp.com", target: "_blank"} flix-chill
          is an app that lets users connect with other users based on similar TV shows watched. After connecting, users can chat with each other via an in-app chat system. I also helped to create
          %a.black{ href: "http://elevader.herokuapp.com", target: "_blank"} elevader
          , a yelp-like app that allows users to submit reviews of elevators around Boston.
        %a.button{ href: "https://github.com/tsdlau/flix-chill"}github/flix-chill
        %a.button{ href: "https://github.com/filipemir/elevader"}github/elevader
