#elevaderLogo{
  @include logos;
  background-image:url("../images/elevader.png");
}

#elevader1{
  @include modalimage;
  background-image: url("../images/elevader1.jpg");
}
#elevader2{
  @include modalimage;
  background-image: url("../images/elevader2.jpg");
}
#elevader3{
  @include modalimage;
  background-image: url("../images/elevader3.jpg");
}
#elevader4{
  @include modalimage;
  background-image: url("../images/elevader4.jpg");
}
#elevader5{
  @include modalimage;
  background-image: url("../images/elevader5.jpg");
}
