#flixChillLogo{
  @include logos;
  background-image:url("../images/flixchill.svg");
}

// IMAGES
#flixchill1{
  @include modalimage;
  background-image: url("../images/flixchill1.jpg");
}
#flixchill4{
  @include modalimage;
  background-image: url("../images/flixchill4.jpg");
}
#flixchill5{
  @include modalimage;
  background-image: url("../images/flixchill5.jpg");
}
#flixchill6{
  @include modalimage;
  background-image: url("../images/flixchill6.jpg");
}
#flixchill7{
  @include modalimage;
  background-image: url("../images/flixchill7.jpg");
}
