#greatChowLogo{
  @include logos;
  background-image:url("../images/greatchow.png");
}

#greatchow1{
  @include modalimage;
  background-image: url("../images/greatchow1.jpg");
}
#greatchow2{
  @include modalimage;
  background-image: url("../images/greatchow2.jpg");
}
#greatchow3{
  @include modalimage;
  background-image: url("../images/greatchow3.jpg");
}
#greatchow4{
  @include modalimage;
  background-image: url("../images/greatchow4.jpg");
}
#greatchow5{
  @include modalimage;
  background-image: url("../images/greatchow5.jpg");
}
