#insuramatchLogo{
  @include logos;
  background-image:url("../images/trailer.svg");
  background-size: 100px 100px;

  @media screen and (max-width:599px), screen and (max-height: 420px){
    visibility: hidden;
  }
}

// IMAGES
#insuramatch1{
  @include modalimage;
  background-image: url("../images/insuramatch1.png");
}
#insuramatch2{
  @include modalimage;
  background-image: url("../images/insuramatch2.png");
}
#insuramatch3{
  @include modalimage;
  background-image: url("../images/insuramatch3.png");
}
#insuramatch4{
  @include modalimage;
  background-image: url("../images/insuramatch4.png");
}
#insuramatch5{
  @include modalimage;
  background-image: url("../images/insuramatch5.png");
}
