#salonSiteLogo{
  @include logos;
  background-image:url("../images/logos/salonsite.svg");
}

// ********** IMAGE STYLING ********** //

#salonsite1{
  @include modalimage;
  background-image: url("../images/projects/salonsite1.jpg");
}
#salonsite2{
  @include modalimage;
  background-image: url("../images/projects/salonsite2.jpg");
}
#salonsite3{
  @include modalimage;
  background-image: url("../images/projects/salonsite3.jpg");
}
#salonsite4{
  height: 500px;
  width: auto;
  margin: 0 auto;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/projects/salonsite4.jpg");
}
