#sampleTitle{
  background-color: red;
  height: 25%;
  transition: background-color .5s linear 0s;

  &:hover{
    background-color: #009999;
  }
}

#sampletwo{
  background-color: blue;
  height: 25%;
  transition: background-color .5s linear 0s;

  &:hover{
    background-color: #B2B200;
  }
}

.post{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: auto;
  width: 70%;
  margin-left:10%;
  align-items: center;
  @media screen and (max-width: 900px){
    width: 100%;
    margin-left: 0%;
  }
}

.bodyPost{
  background-color: rgba(146,141,141,0.4);
  height: auto;
}
