@import url(https://fonts.googleapis.com/css?family=Raleway);

.ui-state-focus { outline: none; }

.blogPost{
  height: 25%;
  margin: 0;
  padding: 0;
  transition: background-color .7s ease-in-out 0s;
  background-color: #F2F2F2;

}

.blogSummary{
  padding: 5% 0;
  background-color: rgba(242,242,242,0.5);

  p{
    font-family: Raleway;
    font-size: .7em;
    margin-top: 0;
    margin-bottom: 0;
    width: 70%;
    margin-left: 10%;
  }

  a{
    color: silver;
    transition: color .7s ease-in-out 0s;

    &:hover{
      color: #4C4C4C;
    }
  }
}

#microinteractions{
  &:hover{
    background-color: red;
  }

  &:focus{
    background-color: red;
  }
}

#sampletwo{
  &:hover{
    background-color: #8000ff;
  }

  &:focus{
    background-color: #8000ff;
  }
}

.post{
  height: auto;
  margin-left:10%;
  width: 100%;
}

.blogEntry{
  background-color: rgba(146,141,141,0.4);
  padding-top: 100px;

  h3{
    padding:0;
    margin: 0;
  }
}
