.ui-state-focus { outline: none; }

.blogPost{
  height: 25%;
  transition: background-color .8s ease-in-out 0s;
}

#microinteractions{
  transition: background-color .8s ease-in-out 0s;
  background-color: #F2F2F2;

  &:hover{
    background-color: red;
  }
}

#sampletwo{
  background-color: blue;
  height: 25%;
  transition: background-color .8s ease-in-out 0s;

  &:hover{
    background-color: #8000ff;
  }
}

.post{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: auto;
  width: 70%;
  margin-left:10%;
  align-items: center;
  @media screen and (max-width: 900px){
    width: 100%;
    margin-left: 0%;
  }
}

.blogEntry{
  background-color: rgba(146,141,141,0.4);
  height: auto;
}
