#microinteractions{
  &:hover{
    background-color: red;
  }

  &:focus{
    background-color: red;
  }
}

#sampletwo{
  &:hover{
    background-color: #8000ff;
  }

  &:focus{
    background-color: #8000ff;
  }
}
