@import 'mixins';

.sticky-title{
  position: absolute;
  top: 50%;
  left: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
  width: 200px;
  margin-top: -180px; }
  .sticky-title .title{
    display: block;
    height: 60px;
    line-height: 60px; }
  .sticky-title.sticky-title-left{
    -webkit-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -moz-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -ms-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    -o-transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg);
    transform: scale(1) rotate(270deg) translateX(0px) translateY(0px) skewX(0deg) skewY(0deg); }

.navLink{
  color: white;
  text-decoration: none;
}
#sideNav{
  top: 0;
  left: 0;
  background-color: #161616;
  z-index: 9999;
  position: fixed;
  height: 100%;
  width: 60px;
  overflow: hidden;
  transition: .2s ease-in;
  font-size: 1.5em;
  opacity: 0;

  @media screen and (max-width:450px){
    display: none;
  }

  &:hover{
    width: 180px;
  }
}

.sideActive{
  width: 180px;
}

a.title{
  position: relative;

  &::before{
    position: absolute;
    width: 100%;
    height: 0;
    top: 35%;
    left: 50%;
    visibility: hidden;
    content: '•';
    text-shadow: 0 0 transparent;
    font-size: 1.2em;
    -webkit-transition: text-shadow 0.7s, color 0.3s;
    -moz-transition: text-shadow 0.7s, color 0.3s;
    transition: text-shadow 0.7s, color 0.3s;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #fff;
  }

  &:hover::before, &:focus::before{
    visibility: visible;
    color: #fff;
    text-shadow: 10px 0 #fff, -10px 0 #fff;
  }
}
