#about{
  padding-left: 30%;
  background-color: #FFF;

  span{
    font-size: 50px;
  }
}

#lately {
  padding-left: 30%;
  background-color: #62adf2;

  a:hover{
    color: #62adf2;
  }
}

#projects {
  padding-left: 19%;
  background-color: #FFB732;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;

  .project-child{
    width: 90%;
    .text-white, .text-black{
      width: 30%;
      margin-right: 25%;
    }
    @media screen and (min-width:600px){
      margin-left: 5%;
    }
    @media screen and (max-width:600px), screen and (max-height: 420px){
      padding-left: 14%;
    }
  }
  a:hover{
    color: #FFB732;
  }
}

#past {
  background-color: #F25EA2;
  padding-left: 30%;

  a:hover{
    color: #F25EA2;
  }
  @media screen and (max-width:599px){
    padding-left: 29%;
  }
}

#misc {
  padding-left:30%;
  background-image: url("../images/collage.png");
  background-size: 100% auto;

  .text-white{
    a{
      color: silver;
      opacity: 0.75;
    }
  }
  a:hover{
    color: rgba(0, 0, 0, 0);
  }
  @media screen and (max-width:599px){
    padding-left: 29%;
  }
}

#contact{
  background-color: black;
  padding-left: 45%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  a{
    font-size: 17px;
  }

  a:hover{
    color: black;
  }
  @media screen and (max-width:599px){
    padding-left: 35%;
  }
}
