#about{
  background-color: #FFF;

  span{
    font-size: 1.3em;
    white-space: nowrap;
  }
}

#lately {
  background-color: #62adf2;

  a:hover{
    color: #62adf2;
  }
}

#projects {
  background-color: #99CC66;

  #projectIndex{
    width: 100%;

    .project-title{
      width: 100%;
      padding: 20px 0;
      cursor: pointer;
      transition: background-color .4s, color .7s ease-out 0s;

      &#onDuty:hover, &#onDuty:focus{
        background-color: #272727;
        color: white;
      }

      &#offDuty{
        color: white;
      }
      &#offDuty:hover, &#offDuty:focus{
        background-color: white;
        color: black;
      }

      p{
        text-align: center;
      }
    }
    .project-list{
      width: 100%;
      padding: 30px 0;

      @media screen and (min-width:600px){
        padding-left: 60px;
      }

      .project-child{
        margin: 0 auto;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;

        .text-white, .text-black{
          padding: 0;
          margin-right: 70px;
          width: 45%;
        }
      }
      a:hover{
        color: #99CC66;
      }
    }
  }
}

#past {
  background-color: #F25EA2;

  a:hover{
    color: #F25EA2;
  }
}

#misc {
  background-image: url("../images/collage.png");
  background-size: 100% auto;

  .text-white{
    a{
      text-shadow: 0 0 5px white;
      transition: text-shadow .5s ease-in-out 0s;
      line-height: 115%;

      &:hover{
        color: rgba(0,0,0,0);
        text-shadow: none;
      }
    }
  }
}

#contact{
  background-color: #272727;
  font-size: .5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;

  .contactchild{
    margin-left: 5%;
  }

  a{
    font-size: 0.8em;
    line-height: 120%;

    &:hover{
      color:black;
    }
  }

  @media screen and (max-width:599px){
    padding-left: 35%;
    font-size: 20px;
  }
}

#alpha{
  padding-left: 30%;
  background-color: #000;
}

#omega{
  background-color: white;
  padding-left: 45%;
  font-size: .5em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;

  a{
    line-height: 120%;

    &:hover{
      color:white;
    }
  }

  @media screen and (max-width:599px){
    padding-left: 35%;
  }
}
