#automagick{
  img{
    position: absolute;
    width: 270px;
    height: 360px;
  }

  .black-overlay{
    background-color:black;
    opacity:0.45;
  }

  .silver-overlay{
    background-color:#cccccc;
    opacity:0.42;
  }
  .black-overlay, .silver-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .mural{
    position: absolute;
    left: 60px;
    top: 0px;

    @media screen and (max-width:500px){
      left: 0px;
    }
  }
}

#riho, #bobert, #sarah, #bee, #bronze, #flower, #georgelaughing, #guru, #josephnyc, #karina, #peekingred, #pistachio, #raspberrysnowman, #justchillin, #zenbonsakura, #snowsalt, #snowmiri, #shadowlight, #tsdlau{
  opacity: 0;
  display: none;
  left: 60px;
  top: 0px;
  border: none;
  background-color: silver;
}

#adirondack, #theroadgoeseveron, #briana, #reminiscent, #bos, #jzsmoke, #esplanade, #butterfly, #league, #fouryears, #sujit, #ferrari, #fanboy, #lookup, #ked, #edemame, #summerdreamin, #nemo, #painter, #pumpkins, #shoesoptional, #parrot, #castaway, #jz2, #fountain, #roadtothetop, #wesley, #bigbeach, #hocr, #rain, #pianokeys, #statesswim, #demboiz, #packing, #grandmaster, #speared, #mya, #thomas, #commave, #bu{
  border: 1px solid black;
  background-color: grey;
}


#adirondack{
  top: 0px;
  opacity: 1;
}
#theroadgoeseveron{
  left:  270px;
  top: 0px;
  opacity: 1;
}
#briana{
  left:  540px;
  top: 0px;
  opacity: 1;
}
#reminiscent{
  left:  810px;
  top: 0px;
  opacity: 1;
}
#bos{
  left:  1080px;
  top: 0px;
  opacity:1;
}
#jzsmoke{
  left:  1350px;
  top: 0px;
  opacity:1;
}
#sophie{
  left:  1620px;
  top: 0px;
  opacity:1;
}
#butterfly{
  left:  1890px;
  top: 0px;
  opacity:1;
}
#league{
  left:  2160px;
  top: 0px;
  opacity:1;
}
#fouryears{
  left:  2430px;
  top: 0px;
  opacity:1;
}


#pianokeys{
  top: 360px;
  opacity:1;
}
#edemame{
  left:  270px;
  top: 360px;
  opacity:1;
}
#summerdreamin{
  left:  540px;
  top: 360px;
  opacity:1;
}
#nemo{
  left:  810px;
  top: 360px;
  opacity:1;
}
#painter{
  left:  1080px;
  top: 360px;
  opacity:1;
}
#wesley{
  left:  1350px;
  top: 360px;
  opacity:1;
}
#pumpkins{
  left:  1620px;
  top: 360px;
  opacity:1;
}
#shoesoptional{
  left:  1890px;
  top: 360px;
  opacity:1;
}
#parrot{
  left:  2160px;
  top: 360px;
  opacity:1;
}
#jz2{
  left:  2430px;
  top: 360px;
  opacity:1;
}


#bigbeach{
  top: 720px;
  opacity:1;
}
#ked{
  left: 270px;
  top: 720px;
  opacity:1;
}
#statesswim{
  left: 540px;
  top: 720px;
  opacity:1;
}
#hocr{
  left: 810px;
  top: 720px;
  opacity:1;
}
#demboiz{
  left: 1080px;
  top: 720px;
  opacity:1;
}
#packing{
  left: 1350px;
  top: 720px;
  opacity:1;
}
#sujit{
  left: 1620px;
  top: 720px;
  opacity:1;
}
#fountain{
  left: 1890px;
  top: 720px;
  opacity:1;
}
#roadtothetop{
  left: 2160px;
  top: 720px;
  opacity:1;
}
#ferrari{
  left: 2430px;
  top: 720px;
  opacity:1;
}

#rain{
  top: 1080px;
  opacity:1;
}
#grandmaster{
  left: 270px;
  top: 1080px;
  opacity:1;
}
#mya{
  left: 540px;
  top: 1080px;
  opacity:1;
}
#speared{
  left: 810px;
  top: 1080px;
  opacity:1;
}
#thomas{
  left: 1080px;
  top: 1080px;
  opacity:1;
}
#commave{
  left: 1350px;
  top: 1080px;
  opacity:1;
}
#bu{
  left: 1620px;
  top: 1080px;
  opacity:1;
}
#castaway{
  left: 1890px;
  top: 1080px;
  opacity:1;
}
#lookup{
  left: 2160px;
  top: 1080px;
  opacity:1;
}
#fanboy{
  left:  2430px;
  top: 1080px;
  opacity:1;
}
