.cd-top {
	// display: inline-block;
	// height: 60px;
	// width: 60px;

  border-radius: 12px;

	// position: fixed;
	// bottom: 40px;
	// right: 20px;

	box-shadow: 0 0 10px rgba(#FFF, 1);

	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;

	background: rgba(#C0C0C0, 0) url(../images/cd-top-arrow.svg) no-repeat center 50%;

	visibility: hidden;
	opacity: 0;

	-webkit-transition: opacity .3s 0s, visibility 0s .3s;
	-moz-transition: opacity .3s 0s, visibility 0s .3s;
	transition: opacity .3s 0s, visibility 0s .3s;

	&.cd-is-visible, &.cd-fade-out, .no-touch &:hover {
		-webkit-transition: opacity 1s 0s, visibility 0s 0s;
		-moz-transition: opacity 1s 0s, visibility 0s 0s;
		transition: opacity 1s 0s, visibility 0s 0s;
	}

	&.cd-is-visible {
		visibility: visible;
		opacity: 1;
	}

	&.cd-fade-out {
		opacity: .4;
	}

	.no-touch &:hover {
		background-color: rgba(#C0C0C0, 0);
		opacity: 1;
	}
}
