.waves-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    vertical-align: bottom;
    z-index: 1;
    will-change: opacity, transform;
    transition: all .3s ease-out;

    .waves-ripple {
        position: absolute;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin-top:-10px;
        margin-left:-10px;
        opacity: 0;

        background: rgba(0,0,0,0.2);
        transition: all 0.7s ease-out;
        transition-property: transform, opacity;
        transform: scale(0);
        pointer-events: none;
    }

    &.waves-light .waves-ripple {
      background-color: rgba(255, 255, 255, 0.45);
    }

    &.waves-red .waves-ripple {
      background-color: rgba(244, 67, 54, .70);
    }

    // Style input button bug.
    input[type="button"], input[type="reset"], input[type="submit"] {
        border: 0;
        font-style: normal;
        font-size: inherit;
        text-transform: inherit;
        background: none;
    }
}
