// ********** IMPORTS AND MIXINS ********** //
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import "../../plugins/materialize/sass/materialize";
@import 'mixins';
@import 'about';
@import 'contact';
@import 'flixchill';
@import 'greatchow';
@import 'elevader';
@import 'lately';
@import 'misc';
@import 'past';
@import 'projects';
@import 'navigation';
@import 'blinkingCursor';
@import 'scrollToTop';
@import 'alpha';
@import 'omega';
@import 'blog';

// ********** GLOBAL STYLES ********** //
body, html {
  font-family: "Montserrat", sans-serif;
  height: 100%;

  @media screen and (max-width:599px), screen and (max-height: 420px){
    p, span{
      font-size: 24px !important;
    }
    #sideNav{
      visibility: hidden;
    }
  }
  @media screen and (min-width:601px) and (max-width: 1025px){
    p{
      font-size: 36px;
    }
  }
  @media screen and (min-width: 1026px) and (max-width:1599px){
    p{
      font-size: 42px;
    }
  }
  @media screen and (min-width: 1600px) and (max-width:1920px){
    p{
      font-size: 50px;
    }
  }
  @media screen and (min-width: 1921px){
    p{
      font-size: 58px;
    }
  }
}

a.title{
  position: relative;
}
a.title:before{
  @include hoverlinks;
  background-color: #fff;
}
a.title:hover:before{
  @include hoverlinksafter;
}

.main-container {
  height: 100%;
}
.blurb{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 100%;
  width: 70%;
  margin-left:10%;
  align-items: center;
  @media screen and (max-width: 900px){
    width: 100%;
    margin-left: 0%;
  }
}

.text-black{
  p{
    width: 70%;
    line-height: 100%;
    color: black;
    a{
      position: relative;
      color: white;
      transition: color .5s ease-in-out 0s;
      white-space: nowrap;
    }
    a:before{
      @include hoverlinks;
      background-color: #fff;
    }
    a:hover:before{
      @include hoverlinksafter;
    }
  }
}

.text-white{
  p{
    width: 70%;
    line-height: 100%;
    color: white;
    a{
      position: relative;
      color: black;
      transition: color .5s ease-in-out 0s;
      white-space: nowrap;
    }
    a:before{
      @include hoverlinks;
      background-color: #000;
    }
    a:hover:before{
      @include hoverlinksafter;
    }
  }
}

.modal-content{
  p{
    font-size: 24px;
  }
}

// #salonSiteLogo{
//   @include logos;
//   background-image:url("../images/salonsite.png")
// }
//
// // ********** IMAGE STYLING ********** //
//
// #salonsite1{
//   @include modalimage;
//   background-image: url("../images/salonsite1.jpg");
// }
// #salonsite2{
//   @include modalimage;
//   background-image: url("../images/salonsite2.jpg");
// }
// #salonsite3{
//   @include modalimage;
//   background-image: url("../images/salonsite3.jpg");
// }
// #salonsite4{
//   height: 500px;
//   width: auto;
//   margin: 0 auto;
//   background-position: center;
//   background-size: contain;
//   background-repeat: no-repeat;
//   background-image: url("../images/salonsite4.jpg");
// }
