// ********** IMPORTS ********** //
@import 'https://fonts.googleapis.com/css?family=Quattrocento+Sans';
@import 'https://fonts.googleapis.com/css?family=Raleway:200,300,400';

@import "../../plugins/materialize/sass/materialize";
@import 'mixins';
@import 'pages';
@import 'projects/salonsite';
@import 'projects/greatchow';
@import 'projects/exchanger';
@import 'navigation';
@import 'blinkingCursor';
@import 'scrollToTop';
@import 'blog/blog';
@import 'blog/entries';
@import 'blog/navigation';
@import 'blog/index';
@import 'photography';

// ********** GLOBAL STYLES ********** //
body, html {
  font-family: "Quattrocento Sans", sans-serif;
  height: 100%;
}

.main-container {
  height: 100%;
  font-size: calc(1.3em + 2vw);

  @media screen and (min-width: 1200px){
    font-size: calc(45px + 0.08vw);
  }
}

.main-blog-container{
  height: 100%;
  font-size: calc(1em + 2vw);
}

.page{
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  min-height: 100%;
  overflow: hidden;
  &#projects{
    height: auto;
  }
}

.text-black{
  @include textsizing;

  p{
    color: black;
    a{
      color: white;
    }
    a:before{
      @include hoverlinks;
      background-color: #fff;
    }
    a:hover:before{
      @include hoverlinksafter;
    }
  }
}

.text-white{
  @include textsizing;

  p{
    color: white;
    a{
      color: black;
    }
    a:before{
      @include hoverlinks;
      background-color: #000;
    }
    a:hover:before{
      @include hoverlinksafter;
    }
  }
}

.modal-content{
  p{
    font-size: 20px;
    font-family: "Raleway", sans-serif;
  }
}

.modal-footer{
  a{
    font-size: .5em;
  }
}

.overlay{
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
}

#code{
  font: 15px Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  background-color: #EEE;
  white-space: nowrap;
  display: block;
  padding: 5px;
}

#LevelUpLogo{
  background-image: url('../images/logos/LevelUp.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;

  @media screen and (max-width:599px), screen and (max-height: 420px){
    display: none;
  }

}

#AmalgamLogo{
  height: 180px;
  width: 180px;
  background-image: url('../images/logos/Amalgam.svg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (max-width:599px), screen and (max-height: 420px){
    display: none;
  }
}

#LaunchLogo{
  height: 100px;
  width: 100px;
  background-image: url('../images/logos/Launch.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  @media screen and (max-width:599px), screen and (max-height: 420px){
    display: none;
  }
}

// * {
//   background: #000 !important;
//   color: #0f0 !important;
//   outline: solid #f00 1px !important;
// }
