#levelup {
  background-color: #FDA02D;
  text-align: right;

  a {
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: white;
      width: 30px;
      height: 100%;
      left: 30px;
      top: 0;
      opacity: 0;
      filter: blur(2px);
      transform: translateX(-120px) skewX(50deg);
      transition: .4s linear;
    }

    &:hover{
      color: white;
      text-shadow: 0 0 7px white;
      transition: .7s ease-out;

      &::after{
        transform: translateX(320px) skewX(50deg);  
        opacity: 1;
        transition: .6s ease-in;
      }
    }
  }
}