#merger {
  background-color: #F33746;

  a {
    position: relative;
    display: inline-block;
    color: #F33746;
    outline: none;
    text-decoration: none;
    padding: 0;

    &::before {
      color: white;
      content: attr(data-hover);
      position: absolute;
      -webkit-transition: -webkit-transform 0.5s, opacity 0.3s;
         -moz-transition: -moz-transform 0.5s, opacity 0.3s;
              transition: transform 0.5s, opacity 0.3s;
    }

    &:hover::before, &:focus::before {
      -webkit-transform: scale(0.9);
         -moz-transform: scale(0.9);
              transform: scale(0.9);
                opacity: 0;
    }

    &:hover {
      text-shadow: 0 0 7px black;
    }
  }
}