#photography {
  position: relative;

  #miscbody{
    z-index:3;
  }

  .text-white{
    text-shadow: 1px 1px 2px black;

    a{
      transition: text-shadow color .5s ease-in-out 0s;
      line-height: 115%;
      text-shadow: 0px 0px 4px black;
      color: rgba(0,0,0,0);

      &:hover{
        text-shadow: 0px 0px 4px #eaeaea;
        color: black
      }
    }
  }
}
