#before.page
  .logo#LevelUpLogo
  .text-white
    %p
      Before that, I used to be at
      %a.waves-effect{href: "https://www.thelevelup.com/", style:"line-height: 120%;", target: "_blank"}LevelUp
      where I was riding the Rails.
      