#contact.page
  .contactchild
    .text-black
      %p
        %a.waves-effect.waves-light{ href: "https://github.com/tsdlau", target: "_blank"}
          %span
            %i.fi-social-github
            github
  .contactchild
    .text-black
      %p
        %a.waves-effect.waves-light{ href: "https://linkedin.com/in/tsdlau", target: "_blank"}
          %span
            %i.fi-social-linkedin
            linkedin
  .contactchild
    .text-black
      %p
        %a.waves-effect.waves-light{ href: "mailto:kr.d.tsl@gmail.com"}
          %span
            %i.fi-mail
            email
  .contactchild
    .text-black
      %p
        %a.waves-effect.waves-light{ href: "/resume.pdf", target: "_blank"}
          %span
            %i.fi-results
            resume
  .contactchild
    .text-black
      %p
        %a.waves-effect.waves-light{ href: "./blog", target: "_blank"}
          %span
            %i.fi-cloud
            blog
