#lately.page
  .logo#RueGiltGroupeLogo
  .text-white.left-align-text
    %p
      I've recently joined
      %a{href: "http://www.ruegiltgroupe.com/", target: "_blank"}Rue Gilt Groupe
      to work with eCommerce systems.
