#lately.page
  .logo#LevelUpLogo
  .text-white
    %p
      I'm currently at
      %a.waves-effect{href: "https://www.thelevelup.com/", style:"line-height: 120%;", target: "_blank"} LevelUp
      where I'm riding the Rails once again.
