#lately.page
  .logo#RueGiltGroupeLogo
  .text-white
    %p
      I've recently signed on with
      %a{href: "http://www.ruegiltgroupe.com/", style:"line-height: 120%;", target: "_blank"}Rue Gilt Groupe
      to work on eCommerce systems.
