#lately.page
  .text-white
    %p
      I'm currently a developer at
      %a.waves-effect{href: "http://amalgam.co", style:"line-height: 120%;", target: "_blank"} Amalgam Co
      where I'm doing a bunch of front-end stuff.
