#launch.page
  .logo#LaunchLogo
  .text-white.left-align-text
    %p
      But really, this all started with the incredible experience at the
      %a{href: "https://www.launchacademy.com", target: "_blank", rel: "noreferrer", "data-hover": "coding bootcamp"} coding bootcamp
      that I attended.
