#launch.page
  .logo#LaunchLogo
  .text-black
    %p
      But really, this all started with the incredible experience at the
      %a.waves-effect{href: "javascript:delay('https://www.launchacademy.com')", style:"line-height: 115%;", target: "_blank"} coding bootcamp
      that I attended.
