!!! 5
%html
  %head
    %title dickson lau

    %meta{property: "name", content: "dickson lau"}
    %meta{property: "description", content: "software developer. ex-athlete. photographer. dreamer."}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{'http-equiv'=> 'Content-Type', content: 'text/html; charset=utf-8'}

    %script{src: "javascript/modernizr.js"}


    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-81639761-2', 'auto');
      ga('send', 'pageview');


    %link{rel: "stylesheet", type: 'text/css', href: "/stylesheets/styles.css"}
    %link{rel: "stylesheet", href: "http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"}

  %body
    #sideNav
      .sticky-title.sticky-title-left{ data: { "0": "left: 110px;", "100p": "left: 50px;", "200p": "left: -10px;", "300p": "left: -70px;", "400p": "left: -130px;", "500p": "left: -190px;", "600p": "left: -250px"}}
        %a.title.navLink{href: "#about"}about
        %a.title.navLink{href: "#lately"}lately
        %a.title.navLink{href: "#projects"}projects
        %a.title.navLink{href: "#past"}before
        %a.title.navLink{href: "#launch"}origins
        %a.title.navLink{href: "#misc"}misc
        %a.title.navLink{href: "#contact"}contact
    .main-container
      = yield

    %a.cd-top.waves-effect.waves-red{href: "#0"}Top
    %script{src: "javascript/jquery-2.1.1.min.js"}
    %script{src: "javascript/skrollr.js"}
    %script{src: "javascript/homesite.js"}
    %script{src: "plugins/materialize/dist/js/materialize.min.js"}
    %script{:src => "https://code.jquery.com/ui/1.12.0/jquery-ui.js"}
    %script{src: "javascript/typed.js"}
