#levelup.page
  .logo#LevelUpLogo
  .text-white.left-align-text
    %p
      That company was called
      %a.waves-effect{href: "https://www.thelevelup.com/", target: "_blank"}LevelUp
      and I spent a good amount of time on Rails while there.
      