#levelup.page
  .text-white
    %p
      That mighty company was called
      %a.waves-effect{href: "https://www.thelevelup.com/", target: "_blank"}LevelUp
      where I spent a lot of time in Rails.
  .logo#LevelUpLogo
      