#levelup.page
  .logo#LevelUpLogo
  .text-white.left-align-text
    %p
      That company was called
      %a.waves-effect{href: "https://www.thelevelup.com/", target: "_blank", rel: "noreferrer"}LevelUp
      where I spent a good amount of time in Rails.