#merger.page
  .logo#GrubhubLogo
  .text-black
    %p>
      Before that, I was working for
      %a{href: "https://www.grubhub.com/", target: "_blank", "data-hover": "Grubhub"}Grubhub
      after being acquired as part of a smaller company.
