#merger.page
  .text-black.right-align-text
    %p>
      Before that, I was part of
      %a{href: "https://www.grubhub.com/", target: "_blank", "data-hover": "Grubhub"}Grubhub
      through an acquisition of a smaller company.
  .logo#GrubhubLogo
