#merger.page
  .text-black.right-align-text
    %p>
      Before that, I was at
      %a{href: "https://www.grubhub.com/", target: "_blank", "data-hover": "Grubhub"}Grubhub
      after an acquisition as part of a smaller company.
  .logo#GrubhubLogo
