#merger.page
  .logo#GrhubhubLogo
  .text-white
    %p
      After a couple years of there, we were eventually acquired by
      %a.waves-effect{href: "https://www.grubhub.com/", style:"line-height: 120%;", target: "_blank"}Grubhub
      , so that was pretty cool.
