#merger.page
  .logo#GrubhubLogo
  .text-black
    %p>
      Before that, I was working for
      %a.waves-effect{href: "https://www.grubhub.com/", target: "_blank"}<Grubhub
      through an acquisition at a smaller company.
