#misc.page
  .blurb
    .text-white
      %p
        Sometimes during my wanderings I take
        %a.waves-effect.waves-light{href: "https://www.flickr.com/photos/mrsushiman/", target: "_blank"}pictures
        of places and people.
        %br
        %br
        Other times I can be found visiting libraries or rock climbing.
        %br
        %br
        And in other, <em>other </em> times I'll be stomping scrubs in
        %a.waves-effect.waves-light{href: "https://www.youtube.com/watch?v=FqnKB22pOC0", target: "_blank"}this universe.
