#misc.page
  #photography
    %img#adirondack{src:"../images/pictures/adirondack.jpg"}
    %img#bobert{src:"../images/pictures/bobert.jpg"}
    %img#briana{src:"../images/pictures/briana.jpg"}
    %img#reminiscent{src:"../images/pictures/reminiscent.jpg"}
    %img#bos{src:"../images/pictures/BOS.jpg"}
    %img#jzsmoke{src:"../images/pictures/jzsmoke.jpg"}
    %img#esplanade{src:"../images/pictures/esplanade.jpg"}
    %img#butterfly{src:"../images/pictures/butterfly.jpg"}
    %img#league{src:"../images/pictures/league.jpg"}
    %img#fouryears{src:"../images/pictures/four_years.jpg"}
    %img#david{src:"../images/pictures/david.jpg"}
    %img#ferrari{src:"../images/pictures/ferrari.jpg"}
    %img#fanboy{src:"../images/pictures/fanboy.jpg"}
    %img#lookup{src:"../images/pictures/look_up.jpg"}
    %img#ked{src:"../images/pictures/ked.jpg"}
    %img#edemame{src:"../images/pictures/edemame.jpg"}
    %img#harvard{src:"../images/pictures/harvard.jpg"}
    %img#nemo{src:"../images/pictures/nemo.jpg"}
    %img#painter{src:"../images/pictures/painter.jpg"}
    %img#pumpkins{src:"../images/pictures/pumpkins.jpg"}
    %img#ichigo{src:"../images/pictures/ichigo.jpg"}
    %img#parrot{src:"../images/pictures/parrot.jpg"}
    %img#castaway{src:"../images/pictures/castaway.jpg"}
    %img#charlesautumn{src:"../images/pictures/charles_autumn.jpg"}
    %img#fountain{src:"../images/pictures/fountain.jpg"}
    %img#jessapples{src:"../images/pictures/jess_apples.jpg"}
    %img#wesley{src:"../images/pictures/wesley.jpg"}
    %img#nyfruit{src:"../images/pictures/ny_fruit.jpg"}
    %img#hocr{src:"../images/pictures/hocr.jpg"}
    %img#rain{src:"../images/pictures/rain.jpg"}
    %img#pianokeys{src:"../images/pictures/piano_keys.jpg"}
    %img#statesswim{src:"../images/pictures/states_swim.jpg"}
    %img#demboiz{src:"../images/pictures/dem_boiz.jpg"}
    %img#packing{src:"../images/pictures/packing.jpg"}
    %img#grandmaster{src:"../images/pictures/grandmaster.jpg"}
    %img#sarah{src:"../images/pictures/sarah.jpg"}
    %img#speared{src:"../images/pictures/speared.jpg"}
    %img#thomas{src:"../images/pictures/thomas.jpg"}
    %img#commave{src:"../images/pictures/comm_ave.jpg"}
    %img#bu{src:"../images/pictures/bu.jpg"}
    %img#riho{src:"/../image/pictures/riho.jpg"}
    %img#otherked{src:"../image/pictures/otherked.jpg"}
    %img#mya{src:"/../image/pictures/mya.jpg"}
    %img#bee{src:"/../image/pictures/bee.jpg"}
    %img#bronze{src:"../image/pictures/bronze.jpg"}
    %img#flower{src:"../image/pictures/flower.jpg"}
    %img#georgelaughing{src:"../image/pictures/georgelaughing.jpg"}
    %img#guru{src:"../image/pictures/guru.jpg"}
    %img#josephnyc{src:"../image/pictures/josephnyc.jpg"}
    %img#karina{src:"../image/pictures/karina.jpg"}
    %img#peekingred{src:"../image/pictures/peekingred.jpg"}
    %img#pistachio{src:"../image/pictures/pistachio.jpg"}
    %img#raspberrysnowman{src:"../image/pictures/rapsberrysnowman.jpg"}
    %img#saltypig{src:"../image/pictures/saltypig.jpg"}
    %img#zenbonsakura{src:"../image/pictures/zenbonsakura.jpg"}
    %img#tsdlau{src:"../image/pictures/tsdlau.jpg"}
    .black-overlay
    .silver-overlay
  .text-white#miscbody
    %p
      Sometimes during my wanderings I take
      %a.waves-effect.waves-light{href: "https://www.flickr.com/photos/mrsushiman/", target: "_blank"}pictures
      of places and people.
      %br
      %br
      Other times I can be found visiting libraries or rock climbing.
      %br
      %br
      And in other, <em>other </em> times I'll be stomping scrubs in
      %a.waves-effect.waves-light{href: "https://www.youtube.com/watch?v=FqnKB22pOC0", target: "_blank"}this universe.
