#insuramatchModal.modal.modal-fixed-footer
  .modal-content
    %h4 InsuraMatch | September 2016
    %p demo that finds insurance quotes
    #insuramatch1
    %p add in the cars that you drive and the drivers who need insurance - user selections are stored in cookies
    #insuramatch2
    #insuramatch4
    %p users fill out their information
    #insuramatch3
    %p after a quick survey, results are shown
    #insuramatch5
    %br
    #insuramatch6
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://amalgam.co/insuramatch-compare/staging/form.html", target: "_blank"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://amalgam.co/", target: "_blank"}amalgam.co
#flixchillModal.modal.modal-fixed-footer
  .modal-content
    %h4 flix // chill | May 2016
    %p allowing people to connect with each other based on similar watched tv shows
    #flixchill1
    %p for demo purposes, no validations have been set up - user can sign up with whatever credentials
    #flixchill4
    %p
      users can add in their own watched tv shows which utilizes the
      %a{href:"http://omdbapi.com/"}OMDBapi
      which effectively scrapes off of IMDB
    #flixchill5
    %p users are also able to chat with each other once both parties have accepted the 'chill' request
    #flixchill6
    %br
    #flixchill7
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://flix-chill.herokuapp.com/", target: "_blank"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"https://github.com/tsdlau/flix-chill", target: "_blank"}git
#greatchowModal.modal.modal-fixed-footer
  .modal-content
    %h4 Great Chow | June 2016
    %p a redesign for the Great Chow restaurants in Quincy and Abington in Massachusetts
    #greatchow1
    %p it's heavy on flashy stuff like lots of parallax, big pictures, jquery effects
    #greatchow2
    %p a portal was created for a manager to create, edit, or delete special events
    #greatchow3
    #greatchow4
    %p and of course a contact form to the management team at Great Chow
    #greatchow5
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://greatchow.herokuapp.com/", target: "_blank"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"https://github.com/tsdlau/greatchow", target: "_blank"}git
#salonsiteModal.modal.modal-fixed-footer
  .modal-content
    %h4 Salon-Site | July 2016
    %p a website for a client who wants to change the way salon services are conducted
    #salonsite1
    %p revamp of existing website
    #salonsite2
    #salonsite3
    %p implemented mobile design, too
    #salonsite4
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://staging.amalgam.co/salonsite/"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://amalgam.co/"}amalgam.co
#elevaderModal.modal.modal-fixed-footer
  .modal-content
    %h4 elevader | April 2016
    %p a yelp-like app that critiques elevators of Boston, a group capstone project during my time at Launch Academy.
    #elevader1
    %p after user sign in/up, app redirects to a page that displays a list of elevators that other users have submitted
    #elevader2
    %p users can view details of an elevator, add their own review, or upvote/downvote other reviews
    #elevader3
    %p elevators can be created for review and may be edited, updated, and deleted them accordingly (implementing the CRUD system)
    #elevader4
    %p users are also able to update their own profile information or delete their account
    #elevader5
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://staging.amalgam.co/salonsite/"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"https://github.com/filipemir/elevader"}git
