#exchangerModal.modal.modal-fixed-footer
  .modal-content
    %h4 Currency Exchanger | June 2016
    %p backend project that obtains exchange rates
    #exchanger1
    %p
      after setting up dependencies and libraries, initialize the exchange rate worker with
      #code{style: 'width: 21%;'} node producer.
    #exchanger2
    %p
      make the worker do its job through
      #code{style: 'width: 21%'} node consumer.
    #exchanger3
    %p watch the magic happen: conversion rates being obtained. (and prettified)
    #exchanger4
    %p once the job is done, show the results!
    #exchanger5
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"https://github.com/tsdlau/golden-ticket-to-hk", target: "_blank"}git
#greatchowModal.modal.modal-fixed-footer
  .modal-content
    %h4 Great Chow | June 2016
    %p a redesign for the Great Chow restaurants in Quincy and Abington in Massachusetts
    #greatchow1
    %p it's heavy on flashy stuff like lots of parallax, big pictures, jquery effects
    #greatchow2
    %p a portal was created for a manager to create, edit, or delete special events
    #greatchow3
    %br
    #greatchow4
    %p and of course a contact form to the management team at Great Chow
    #greatchow5
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://greatchow.herokuapp.com/", target: "_blank"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"https://github.com/tsdlau/greatchow", target: "_blank"}git
#salonsiteModal.modal.modal-fixed-footer
  .modal-content
    %h4 Salon-Site | July 2016
    %p a website for a client who wants to change the way salon services are conducted
    #salonsite1
    %p revamp of existing website
    #salonsite2
    %br
    #salonsite3
    %p implemented mobile design, too
    #salonsite4
  .modal-footer
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://staging.amalgam.co/salonsite/"}demo
    %a.modal-action.modal-close.waves-effect.waves-green.btn-flat{href:"http://amalgam.co/"}amalgam.co
