#past.page
  .text-black
    %p
      Prior to LevelUp, I had a brief stint at
      %a{href: "http://amalgam.co", style:"line-height: 115%;", target: "_blank"}Amalgam
      where I did a bunch of front-end stuff.
  .logo#AmalgamLogo
