#past
  .blurb
    .text-black
      %p
        Prior to Amalgam, I completed a
        %a.waves-effect{href: "https://www.launchacademy.com", style:"line-height: 115%;", target: "_blank"} coding bootcamp.
        %br
        %br
        It was an amazing experience where I learned how to ride the
        %a.waves-effect{href: "https://en.wikipedia.org/wiki/Ruby_on_Rails", target: "_blank"}Rails.
