#past.page
  .text-black.right-align-text
    %p
      Prior to LevelUp, I had a brief stint at
      %a{href: "http://amalgam.co", target: "_blank", rel: "noreferrer"}Amalgam
      where I did a bunch of front-end stuff.
  .logo#AmalgamLogo
