#past.page
  .text-white
    %p
      Prior to LevelUp, I was a developer at
      %a.waves-effect{href: "http://amalgam.co", style:"line-height: 115%;", target: "_blank"} Amalgam Co
      where I did a bunch of front-end stuff.
