#photography.page
  #automagick
    .mural
      %img#adirondack.lazyload{"data-src":"../images/pictures/adirondack.jpg"}
      %img#theroadgoeseveron.lazyload{"data-src":"../images/pictures/the_road_goes_ever_on.jpg"}
      %img#briana.lazyload{"data-src":"../images/pictures/briana.jpg"}
      %img#reminiscent.lazyload{"data-src":"../images/pictures/reminiscent.jpg"}
      %img#bos.lazyload{"data-src":"../images/pictures/BOS.jpg"}
      %img#jzsmoke.lazyload{"data-src":"../images/pictures/jzsmoke.jpg"}
      %img#sophie.lazyload{"data-src":"../images/pictures/sophie.jpeg"}
      %img#butterfly.lazyload{"data-src":"../images/pictures/butterfly.jpg"}
      %img#justchillin.lazyload{"data-src":"../images/pictures/just_chillin.jpg"}
      %img#fouryears.lazyload{"data-src":"../images/pictures/four_years.jpg"}
      %img#sujit.lazyload{"data-src":"../images/pictures/sujit.jpg"}
      %img#ferrari.lazyload{"data-src":"../images/pictures/ferrari.jpg"}
      %img#fanboy.lazyload{"data-src":"../images/pictures/fanboy.jpg"}
      %img#lookup.lazyload{"data-src":"../images/pictures/look_up.jpg"}
      %img#ked.lazyload{"data-src":"../images/pictures/ked.jpg"}
      %img#edemame.lazyload{"data-src":"../images/pictures/edemame.jpg"}
      %img#summerdreamin.lazyload{"data-src":"../images/pictures/summer_dreamin.jpg"}
      %img#nemo.lazyload{"data-src":"../images/pictures/nemo.jpg"}
      %img#painter.lazyload{"data-src":"../images/pictures/painter.jpg"}
      %img#pumpkins.lazyload{"data-src":"../images/pictures/pumpkins.jpg"}
      %img#shoesoptional.lazyload{"data-src":"../images/pictures/shoes_optional.jpg"}
      %img#parrot.lazyload{"data-src":"../images/pictures/parrot.jpg"}
      %img#castaway.lazyload{"data-src":"../images/pictures/castaway.jpg"}
      %img#jz2.lazyload{"data-src":"../images/pictures/jz2.jpg"}
      %img#fountain.lazyload{"data-src":"../images/pictures/fountain.jpg"}
      %img#roadtothetop.lazyload{"data-src":"../images/pictures/road_to_the_top.jpg"}
      %img#wesley.lazyload{"data-src":"../images/pictures/wesley.jpg"}
      %img#bigbeach.lazyload{"data-src":"../images/pictures/big_beach.jpg"}
      %img#hocr.lazyload{"data-src":"../images/pictures/hocr.jpg"}
      %img#rain.lazyload{"data-src":"../images/pictures/rain.jpg"}
      %img#pianokeys.lazyload{"data-src":"../images/pictures/piano_keys.jpg"}
      %img#statesswim.lazyload{"data-src":"../images/pictures/states_swim.jpg"}
      %img#demboiz.lazyload{"data-src":"../images/pictures/dem_boiz.jpg"}
      %img#packing.lazyload{"data-src":"../images/pictures/packing.jpg"}
      %img#grandmaster.lazyload{"data-src":"../images/pictures/grandmaster.jpg"}
      %img#sarah.lazyload{"data-src":"../images/pictures/sarah.jpg"}
      %img#speared.lazyload{"data-src":"../images/pictures/speared.jpg"}
      %img#thomas.lazyload{"data-src":"../images/pictures/thomas.jpg"}
      %img#commave.lazyload{"data-src":"../images/pictures/comm_ave.jpg"}
      %img#bu.lazyload{"data-src":"../images/pictures/bu.jpg"}
      %img#riho.lazyload{"data-src":"../images/pictures/riho.jpg"}
      %img#bobert.lazyload{"data-src":"../images/pictures/bobert.jpg"}
      %img#mya.lazyload{"data-src":"../images/pictures/mya.jpg"}
      %img#bee.lazyload{"data-src":"../images/pictures/bee.jpg"}
      %img#bronze.lazyload{"data-src":"../images/pictures/bronze.jpg"}
      %img#flower.lazyload{"data-src":"../images/pictures/flower.jpg"}
      %img#georgelaughing.lazyload{"data-src":"../images/pictures/george_laughing.jpg"}
      %img#guru.lazyload{"data-src":"../images/pictures/guru.jpg"}
      %img#josephnyc.lazyload{"data-src":"../images/pictures/joseph_nyc.jpg"}
      %img#karina.lazyload{"data-src":"../images/pictures/karina.jpg"}
      %img#peekingred.lazyload{"data-src":"../images/pictures/peeking_red.jpg"}
      %img#pistachio.lazyload{"data-src":"../images/pictures/pistachio.jpg"}
      %img#league.lazyload{"data-src":"../images/pictures/league.jpg"}
      %img#raspberrysnowman.lazyload{"data-src":"../images/pictures/raspberry_snowman.jpg"}
      %img#zenbonsakura.lazyload{"data-src":"../images/pictures/zenbonsakura.jpg"}
      %img#shadowlight.lazyload{"data-src":"../images/pictures/shadow_light.jpg"}
      %img#snowmiri.lazyload{"data-src":"../images/pictures/snowmiri.jpg"}
      %img#snowsalt.lazyload{"data-src":"../images/pictures/snowsalt.jpg"}
      %img#tsdlau.lazyload{"data-src":"../images/pictures/tsdlau.jpg"}
    .black-overlay
    .silver-overlay
  #miscbody.text-white.left-align-text
    %p
      I like to wander and travel. Sometimes I'll take
      %a.waves-effect.waves-light{href: "https://www.flickr.com/photos/mrsushiman/", target: "_blank", rel: "noreferrer"}pictures
      of places and people.
