#photography.page
  #automagick
    %img#adirondack.lazyload{src:"../images/pictures/adirondack.jpg"}
    %img#theroadgoeseveron.lazyload{src:"../images/pictures/the_road_goes_ever_on.jpg"}
    %img#briana.lazyload{src:"../images/pictures/briana.jpg"}
    %img#reminiscent.lazyload{src:"../images/pictures/reminiscent.jpg"}
    %img#bos.lazyload{src:"../images/pictures/BOS.jpg"}
    %img#jzsmoke.lazyload{src:"../images/pictures/jzsmoke.jpg"}
    %img#sophie.lazyload{src:"../images/pictures/sophie.jpeg"}
    %img#butterfly.lazyload{src:"../images/pictures/butterfly.jpg"}
    %img#justchillin.lazyload{src:"../images/pictures/just_chillin.jpg"}
    %img#fouryears.lazyload{src:"../images/pictures/four_years.jpg"}
    %img#sujit.lazyload{src:"../images/pictures/sujit.jpg"}
    %img#ferrari.lazyload{src:"../images/pictures/ferrari.jpg"}
    %img#fanboy.lazyload{src:"../images/pictures/fanboy.jpg"}
    %img#lookup.lazyload{src:"../images/pictures/look_up.jpg"}
    %img#ked.lazyload{src:"../images/pictures/ked.jpg"}
    %img#edemame.lazyload{src:"../images/pictures/edemame.jpg"}
    %img#summerdreamin.lazyload{src:"../images/pictures/summer_dreamin.jpg"}
    %img#nemo.lazyload{src:"../images/pictures/nemo.jpg"}
    %img#painter.lazyload{src:"../images/pictures/painter.jpg"}
    %img#pumpkins.lazyload{src:"../images/pictures/pumpkins.jpg"}
    %img#shoesoptional.lazyload{src:"../images/pictures/shoes_optional.jpg"}
    %img#parrot.lazyload{src:"../images/pictures/parrot.jpg"}
    %img#castaway.lazyload{src:"../images/pictures/castaway.jpg"}
    %img#jz2.lazyload{src:"../images/pictures/jz2.jpg"}
    %img#fountain.lazyload{src:"../images/pictures/fountain.jpg"}
    %img#roadtothetop.lazyload{src:"../images/pictures/road_to_the_top.jpg"}
    %img#wesley.lazyload{src:"../images/pictures/wesley.jpg"}
    %img#bigbeach.lazyload{src:"../images/pictures/big_beach.jpg"}
    %img#hocr.lazyload{src:"../images/pictures/hocr.jpg"}
    %img#rain.lazyload{src:"../images/pictures/rain.jpg"}
    %img#pianokeys.lazyload{src:"../images/pictures/piano_keys.jpg"}
    %img#statesswim.lazyload{src:"../images/pictures/states_swim.jpg"}
    %img#demboiz.lazyload{src:"../images/pictures/dem_boiz.jpg"}
    %img#packing.lazyload{src:"../images/pictures/packing.jpg"}
    %img#grandmaster.lazyload{src:"../images/pictures/grandmaster.jpg"}
    %img#sarah.lazyload{src:"../images/pictures/sarah.jpg"}
    %img#speared.lazyload{src:"../images/pictures/speared.jpg"}
    %img#thomas.lazyload{src:"../images/pictures/thomas.jpg"}
    %img#commave.lazyload{src:"../images/pictures/comm_ave.jpg"}
    %img#bu.lazyload{src:"../images/pictures/bu.jpg"}
    %img#riho.lazyload{src:"../images/pictures/riho.jpg"}
    %img#bobert.lazyload{src:"../images/pictures/bobert.jpg"}
    %img#mya.lazyload{src:"../images/pictures/mya.jpg"}
    %img#bee.lazyload{src:"../images/pictures/bee.jpg"}
    %img#bronze.lazyload{src:"../images/pictures/bronze.jpg"}
    %img#flower.lazyload{src:"../images/pictures/flower.jpg"}
    %img#georgelaughing.lazyload{src:"../images/pictures/george_laughing.jpg"}
    %img#guru.lazyload{src:"../images/pictures/guru.jpg"}
    %img#josephnyc.lazyload{src:"../images/pictures/joseph_nyc.jpg"}
    %img#karina.lazyload{src:"../images/pictures/karina.jpg"}
    %img#peekingred.lazyload{src:"../images/pictures/peeking_red.jpg"}
    %img#pistachio.lazyload{src:"../images/pictures/pistachio.jpg"}
    %img#league.lazyload{src:"../images/pictures/league.jpg"}
    %img#raspberrysnowman.lazyload{src:"../images/pictures/raspberry_snowman.jpg"}
    %img#zenbonsakura.lazyload{src:"../images/pictures/zenbonsakura.jpg"}
    %img#shadowlight.lazyload{src:"../images/pictures/shadow_light.jpg"}
    %img#snowmiri.lazyload{src:"../images/pictures/snowmiri.jpg"}
    %img#snowsalt.lazyload{src:"../images/pictures/snowsalt.jpg"}
    %img#tsdlau.lazyload{src:"../images/pictures/tsdlau.jpg"}
    .black-overlay
    .silver-overlay
  #miscbody.text-white.left-align-text
    %p
      I like to wander and travel. Sometimes I'll take
      %a.waves-effect.waves-light{href: "https://www.flickr.com/photos/mrsushiman/", target: "_blank"}pictures
      of places and people.
