#photography.page
  #automagick
    %img#adirondack{src:"../images/pictures/adirondack.jpg"}
    %img#theroadgoeseveron{src:"../images/pictures/the_road_goes_ever_on.jpg"}
    %img#briana{src:"../images/pictures/briana.jpg"}
    %img#reminiscent{src:"../images/pictures/reminiscent.jpg"}
    %img#bos{src:"../images/pictures/BOS.jpg"}
    %img#jzsmoke{src:"../images/pictures/jzsmoke.jpg"}
    %img#sophie{src:"../images/pictures/sophie.jpeg"}
    %img#butterfly{src:"../images/pictures/butterfly.jpg"}
    %img#justchillin{src:"../images/pictures/just_chillin.jpg"}
    %img#fouryears{src:"../images/pictures/four_years.jpg"}
    %img#sujit{src:"../images/pictures/sujit.jpg"}
    %img#ferrari{src:"../images/pictures/ferrari.jpg"}
    %img#fanboy{src:"../images/pictures/fanboy.jpg"}
    %img#lookup{src:"../images/pictures/look_up.jpg"}
    %img#ked{src:"../images/pictures/ked.jpg"}
    %img#edemame{src:"../images/pictures/edemame.jpg"}
    %img#summerdreamin{src:"../images/pictures/summer_dreamin.jpg"}
    %img#nemo{src:"../images/pictures/nemo.jpg"}
    %img#painter{src:"../images/pictures/painter.jpg"}
    %img#pumpkins{src:"../images/pictures/pumpkins.jpg"}
    %img#shoesoptional{src:"../images/pictures/shoes_optional.jpg"}
    %img#parrot{src:"../images/pictures/parrot.jpg"}
    %img#castaway{src:"../images/pictures/castaway.jpg"}
    %img#jz2{src:"../images/pictures/jz2.jpg"}
    %img#fountain{src:"../images/pictures/fountain.jpg"}
    %img#roadtothetop{src:"../images/pictures/road_to_the_top.jpg"}
    %img#wesley{src:"../images/pictures/wesley.jpg"}
    %img#bigbeach{src:"../images/pictures/big_beach.jpg"}
    %img#hocr{src:"../images/pictures/hocr.jpg"}
    %img#rain{src:"../images/pictures/rain.jpg"}
    %img#pianokeys{src:"../images/pictures/piano_keys.jpg"}
    %img#statesswim{src:"../images/pictures/states_swim.jpg"}
    %img#demboiz{src:"../images/pictures/dem_boiz.jpg"}
    %img#packing{src:"../images/pictures/packing.jpg"}
    %img#grandmaster{src:"../images/pictures/grandmaster.jpg"}
    %img#sarah{src:"../images/pictures/sarah.jpg"}
    %img#speared{src:"../images/pictures/speared.jpg"}
    %img#thomas{src:"../images/pictures/thomas.jpg"}
    %img#commave{src:"../images/pictures/comm_ave.jpg"}
    %img#bu{src:"../images/pictures/bu.jpg"}
    %img#riho{src:"../images/pictures/riho.jpg"}
    %img#bobert{src:"../images/pictures/bobert.jpg"}
    %img#mya{src:"../images/pictures/mya.jpg"}
    %img#bee{src:"../images/pictures/bee.jpg"}
    %img#bronze{src:"../images/pictures/bronze.jpg"}
    %img#flower{src:"../images/pictures/flower.jpg"}
    %img#georgelaughing{src:"../images/pictures/george_laughing.jpg"}
    %img#guru{src:"../images/pictures/guru.jpg"}
    %img#josephnyc{src:"../images/pictures/joseph_nyc.jpg"}
    %img#karina{src:"../images/pictures/karina.jpg"}
    %img#peekingred{src:"../images/pictures/peeking_red.jpg"}
    %img#pistachio{src:"../images/pictures/pistachio.jpg"}
    %img#league{src:"../images/pictures/league.jpg"}
    %img#raspberrysnowman{src:"../images/pictures/raspberry_snowman.jpg"}
    %img#zenbonsakura{src:"../images/pictures/zenbonsakura.jpg"}
    %img#shadowlight{src:"../images/pictures/shadow_light.jpg"}
    %img#snowmiri{src:"../images/pictures/snowmiri.jpg"}
    %img#snowsalt{src:"../images/pictures/snowsalt.jpg"}
    %img#tsdlau{src:"../images/pictures/tsdlau.jpg"}
    .black-overlay
    .silver-overlay
  .text-white#miscbody
    %p
      Sometimes during my wanderings I take
      %a.waves-effect.waves-light{href: "https://www.flickr.com/photos/mrsushiman/", target: "_blank"}pictures
      of places and people.
