#projects.page
  #projectIndex
    .project-title#onDuty
      %p selected
    .project-list
      .project-child
        .text-black
          %p
            %a.waves-effect{href: "http://staging.amalgam.co/salonsite/", target: "_blank"}Salon-Site
            %br
            %a.waves-effect.modal-trigger{href: "#salonsiteModal", style: "font-size: 12px;"}amalgam.co | salonsite
        #salonSiteLogo
      .project-child
        .text-white
          %p
            %a.waves-effect{href: "http://greatchow.herokuapp.com", target: "_blank"}Great Chow
            %br
            %a.waves-effect.modal-trigger{href: "#greatchowModal", style: "font-size: 12px;"}github | greatchow
        #greatChowLogo
      .project-child
        .text-black
          %p
            %a.waves-effect{href: "https://github.com/tsdlau/golden-ticket-to-hk", target: "_blank"}Currency Exchanger
            %br
            %a.waves-effect.modal-trigger{href: "#exchangerModal", style: "font-size: 12px;"}github | exchanger
        #exchangerLogo

= haml :"home/modals"
