#projects.page
  #projectIndex
    .project-title#onDuty
      %p samples
    .project-list
      .project-child
        .text-black
          %p
            %a.waves-effect.modal-trigger{href: "#salonsiteModal"}Salon-Site
            %br
            %a.waves-effect{href: "http://staging.amalgam.co/salonsite/", style: "font-size: 12px;"}amalgam.co | salonsite
        #salonSiteLogo
      .project-child
        .text-white
          %p
            %a.waves-effect.modal-trigger{href: "#greatchowModal"}Great Chow
            %br
            %a.waves-effect{href: "https://github.com/tsdlau/greatchow", style: "font-size: 12px;", target: "_blank"}github | greatchow
        #greatChowLogo
      .project-child
        .text-black
          %p
            %a.waves-effect.modal-trigger{href: "#exchangerModal"}Currency Exchanger
            %br
            %a.waves-effect{href: "https://github.com/tsdlau/golden-ticket-to-hk", style: "font-size: 12px;", target: "_blank"}github | exchanger
        #exchangerLogo

= haml :"home/modals"
