#projects.page
  #projectIndex
    .project-title#onDuty
      %p expand
    .project-list
      .project-child#greatchow
        .text-white
          %p
            %a.waves-effect.modal-trigger{href: "#greatchowModal"}Great Chow
            %br
            %a.waves-effect{href: "https://github.com/tsdlau/greatchow", style: "font-size: 12px;", target: "_blank"}github | greatchow
        #greatChowLogo
      .project-child#insuramatch
        .text-white
          %p
            %a.waves-effect.modal-trigger{href: "#insuramatchModal"}Insuramatch
            %br
            %a.waves-effect{href: "http://amalgam.co/insuramatch-compare/staging/form.html", style: "font-size: 12px;"}amalgam.co | insuramatch
        #insuramatchLogo
      .project-child#salonsite
        .text-black
          %p
            %a.waves-effect.modal-trigger{href: "#salonsiteModal"}Salon-Site
            %br
            %a.waves-effect{href: "http://staging.amalgam.co/salonsite/", style: "font-size: 12px;"}amalgam.co | salonsite
        #salonSiteLogo

= haml :"home/modals"
