darkweb bots

Mon Sept 30
want to play with the idea of scraping the dark web for biscuits. find lots of websites with biscuits, parse their data kind of like a menu, then serve it on the clearweb

note** biscuits LOL

gonna be built on:
ruby - because i love writing in ruby
sinatara - house the bots
sidekiq - job management, send bots to referesh menu and to also facilitate the ordering
react - because its pretty af lol

right now i'm just leveraging ExternalApiRequest.rb (thanks cindy)

i still need to figure out:
* how to actually scrape on the darkweb
* get the bot on the queue system (make it an actual job)
* open a (hopefully FREE) vpn for bot to actually scour the darkweb
* facilitate transactions via bitcoin for darkweb transaction and clearweb creditcards -- how to make this fast?????






