#chapters
  .blogTitle#microinteractions{tabindex: 1}
    %p August 29 2016 | Microinteractions
    %p.summary
      making the web
      %a{href: "/microinteractions"} feel more human.
  .blogTitle#isthereani{tabindex: 2}
    %p Janurary 17 2017 | Who am I?
    %p.summary
      %a{href: "http://www.google.com/search?q=what+is+anatta", target: "_blank"}does the self exist?
  .blogTitle#weborientedculture{tabindex: 3}
    %p July 14 2018 | Web Oriented Culture
    %p.summary
      a different take on
      %a{href: "/weborientedculture"} the structure of organization.
