#chapters
  .blogTitle#microinteractions{tabindex: 1}
    %p August 29 2016 | Microinteractions
    %p.summary
      making the web
      %a{href: "/microinteractions"} feel more human.
  .blogTitle#istherei{tabindex: 2}
    %p Janurary 17 2017 | I, myself
    %p.summary
      %a{href: "#hahagotya"}is there an i?
