#blogIndex
  .blogTitle#microinteractions
    .post
      %p August 29 2016 | Microinteractions
  .blogSummary
    %p
      making the web
      %a{href: "/microinteractions"} feel more human.
  .blogTitle#sampletwo
    .post
      %p Janurary 17 2017 | Is there an I?
  .blogSummary
    %p
      a closer look to find
      %a{href: "#"}the real I.
