%p performance
%p.cool_shit
  %a{href: 'https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API'}lazy loading through triggered viewport events
  %span || added 2018
%p inspiration
%p.cool_shit
  %a{href: 'https://mjau-mjau.com/'}cool web ideas. just play around and explore this area; neat little treasures everywhere
  %span || added 2018
  %a{href: 'https://www.andrewwnewhouse.com/'}the design in recent projects is brilliant, really the design of the entire website is solid. not too cumbersome and not too minimal, i'd like to achieve this kind of execution
%p.cool_shit
  %a{href: 'https://unsplash.com/developers'}photo api for some cool photos.
