%p performance
%p.cool_shit
  %a{href: 'https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API'}lazy loading through triggered viewport events
  %span || added 2018
%p inspiration
%p.cool_shit
  %a{href: 'https://mjau-mjau.com/'}cool web ideas. just play around and explore this area; neat little treasures everywhere
  %span || added 2018
