%p.cool_shit
  %a{href: 'https://developers.google.com/web/updates/2016/04/intersectionobserver'}lazy loading through triggered viewport events
  %span || added 2018
%p.cool_shit
  %a{href: 'https://mjau-mjau.com/'}cool web ideas. just play around and explore this area; neat little treasures everywhere
  %span || added 2018
