.blogNav#microinteractionsHeader
  .blogHeader
    %span - Group Dynamics
  = haml :"blog/backToBlog"
.blogEntry
  .header
    %h2 Group Dynamics
    %h6
      %span
        %i.fi-clock
        July 06 2017
    %p
      So I've been working at my current company for a medium-large sized company (~150 people strong) for about 10 months now. I do feel incredibly fortunate to be included in such an awesome group that attempts to be
      As technology advances and animation becomes the new norm away from still-images, microinteractions are becoming increasingly more common to enhance UX.
    .blogImage#microinteractionsImage1
    %h5 Introducing microinteractions: this shit is fire at the moment.
  .mainContent
    %h4 the essence of a microinteraction
    %p
      These are, essentially, the best proof that attention to small details is able to give a big and powerful impact. Every time a setting is changed, data is syncing, a page is refreshing, or a status is liked, microinteractions translate the action into something meaningful. They are everywhere: subtle nuances of a product that are acutally incredibly important.
    %h4 microinteractions + animation = pleasant, easy, effective
    %p
      The term 'animation' originates from the Latin word 'anima' meaning 'air, soul' and in most cases defines the process of adding life and soul into objects via motion. When paired with a microinteraction, animations allow interactions to be quick and clear for the user, often imitating real physical interaction. People don't notice it when it works properly, but understand its importance when something goes wrong. Microinteractions enabled by interface animation are also hardly notable for user until the moment when they face the problem of their absence.
    .blogImage#microinteractionsImage2
    %h5 Without animation it simply wouldn't look cool.
    %h4 everything in moderation
    %p
      Essential benefits include:
      %ul
        %li - increased usability
        %li - originality
        %li - convenient and easy interaction
        %li - ability to fulfill several functions simultaneously
        %li - high potential of speeding up process of interaction
        %li - providing clear feedback to user
    .blogImage#microinteractionsImage3
    %h5 Pretty but cumbersome.
    %p
      While microinteractions are wonderful, it should be implemented carefully especially when used with motion in design. Here are some considerations to keep in mind:
      %ul
        %li - taking too much resource and clogging up traffic
        %li - overloading the screen/page
        %li - too much of a distraction
