#blogIndex
  .blogPost#microinteractions
    .post
      .text-white
        %p August 29 2016 | Microinteractions
  .blogSummary
    %p
      An investigation into microinteractions and how they make the web
      %a{href: "/blog/microinteractions", target: "_blank"} <em>feel</em> more human.
  .blogPost#sampletwo
    .post
      .text-white
        %p Sample 50 2018 | Background Images And Other things
  .blogSummary
    %p
      Sample shit lorem ipsum miraculously everyone is trying to get a job or some shit and its really damn hard to do whatever sometimes.
      
