#blogIndex
  #sampleTitle
    .post
      .text-white
        %p Sample
  #sampleBody
    = haml :"blog/sample"
  #sampletwo
    .post
      .text-black
        %p
          %a{ href: "/blog/sampletwo"}Sample two
  #sampleBody
    = haml :"blog/sample"
