#blogIndex
  .blogTitle#microinteractions
    .post
      %p August 29 2016 | Microinteractions
  .blogSummary
    %p
      An investigation into microinteractions and how they make the web
      %a{href: "/microinteractions"} <em>feel</em> more human.
  .blogTitle#sampletwo
    .post
      %p Sample 50 2018 | Background Images And Other things
  .blogSummary
    %p
      Sample shit lorem ipsum miraculously everyone is trying to get a job or some shit and its really damn hard to do whatever sometimes.
