#blogIndex
  .blogTitle#microinteractions
    .post
      %p August 29 2016 | Microinteractions
  .blogSummary
    %p
      making the web
      %a{href: "/microinteractions"} feel more human.
  .blogTitle#sampletwo
    .post
      %p October 11 2016 | Parallax
  .blogSummary
    %p
      using parallax with
      %a{href: "#"}CSS vs Javascript.
