#last.page
  .contactchild
    .text-white
      %p
        %a.waves-effect.waves-light{ href: "/cool_shit", target: "_blank"}
          %span
            %i.fi-lightbulb
            cool shit
  .contactchild
    .text-white
      %p
        %a.waves-effect.waves-light{ href: "/"}
          %span
            %i.fi-home
            home
