!!!
%html
  %head
    %title thots by dickson

    %meta{name: "Name", property: "name", content: "blog"}
    %meta{name: "Description", property: "description", content: "thoughtful and thoughtless musings."}
    %meta{content: "width=device-width, initial-scale=1.0", name: "viewport"}
    %meta{'http-equiv'=> 'Content-Type', content: 'text/html; charset=utf-8'}

    %link{rel: "stylesheet", type: 'text/css', href: "/stylesheets/blog.css"}
    %link{rel: "stylesheet", href: "https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css"}

  %body
    .main-blog-container
      = yield

  %script{src: "javascript/jquery-3.3.1.min.js"}
  %script{src: "https://code.jquery.com/ui/1.12.0/jquery-ui.js"}
  %script{src: "javascript/typed.min.js"}
  %script{src: "javascript/blogsite.js"}
  %script{src: "javascript/modernizr.min.js"}