.blogEntry
  .header
    %h3 Microinteractions
    %span August 29 2016
    %p
      Lately on my surfs across the web, I've been investigating more and more into what it is that makes the technology feel more human.
    .headerPostImage
  .body
