.blogNav#microinteractionsHeader
  %p August 29 2016 | Microinteractions
  .backToBlog
    #card
      %figure.front
        %p back
      %figure.back
        %p
          %a{href: "/blog"}to index
.blogEntry
  .header
    %h3 Microinteractions
    %span August 29 2016
    %p
      Lately on my surfs across the web, I've been investigating more and more into what it is that makes the technology feel more human.
    .headerPostImage
    %span Introducing microinteractions: this shit is fire in the UX bubble at the moment.
    %h4 some titile
    %p
      Pellentesque lacinia mattis mauris, et vehicula urna sodales et. Aliquam sit amet neque nulla. Morbi tincidunt sodales nibh, ut egestas leo maximus quis. Mauris purus mi, accumsan eget mollis eu, consequat a enim. Sed in lectus nec eros elementum accumsan sit amet in tortor. Phasellus euismod commodo bibendum. Curabitur sit amet felis non metus convallis eleifend. Nulla placerat auctor orci, in vulputate elit condimentum ut. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vivamus a nisl vitae dolor pulvinar molestie.

      Nullam ut dolor non diam lobortis iaculis et in nulla. Etiam hendrerit sagittis risus, nec convallis est condimentum in. Donec feugiat lacus a metus posuere ultricies. Nulla eget vestibulum neque. Duis eu libero ultricies, fringilla magna eget, rhoncus felis. In ultricies finibus nisl a ultrices. Nulla vulputate enim vitae urna condimentum, malesuada viverra est bibendum. Nam sed consequat lacus.
