.blogNav#parallaxHeader
  .blogHeader
    %span - Parallax
  .backToBlog
    #card
      %figure.front
        %span back
      %figure.back
        %a{href: "/blog", style: "white-space: nowrap;"}to index
.blogEntry
  .header
    %h2 Parallax
    %h6
      %span
        %i.fi-clock
        October 11 2016
    %p
      Making parallax look great can be tough. Here's a method to make it happen.
    .blogImage
    %h5 Parallax is another hot thing in that I'm seeing more and more.
  .mainContent
    %h4 the essence of a microinteraction
    %p
      These are, essentially, the best proof that attention to small details is able to give a big and powerful impact. Every time a setting is changed, data is syncing, a page is refreshing, or a status is liked, microinteractions translate the action into something meaningful. They are everywhere: subtle nuances of a product that are acutally incredibly important.
    .blogImage
