lazy loading -
  the concept is load things as relative to when the user is seeing content. so don't be loading things all right away, just be loading things when the viewport is at 100% or some fraction of that.
  a cool combo trick is to use 'display: none;' and IntersectionObserver api https://developer.mozilla.org/en-US/docs/Web/API/Intersection_Observer_API very cool shit. basically start loading content that is 500px below viewport.
