.blogNav#weborientedcultureHeader
  .blogHeader
    %span - Web Oriented Culture
  = haml :"blog/backToBlog"
.blogEntry
  .header
    %h2 Web Oriented Culture
    %h6
      %span
        %i.fi-clock
        July 14 2018
    %p
      On a day-to-day basis, who do you really connect with?
    .blogImage#web-orientationImage1
    %h5 I had a wild thought the other day - probably was a shower thought - instead of thinking company structure as a heirarchy (bottom-up / top-down), it's simply just a web where certain people are connected to other certain people
  .mainContent
    %h4
    %p

    %h4
    %p

    -# .blogImage#microinteractionsImage2
    %h5
    %h4
    %p
    -# .blogImage#microinteractionsImage3
    %h5
    %p
